<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>管理员页面</title>
    <link rel="stylesheet" type="text/css" href="/javascripts/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/demo/demo.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/graduationDesign.css" />
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.easyui.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <header>
        <div class="logo login_logo">
            <a href="javascript:;" id="logo_btn"><img src="/images/logo.png"></a>
        </div>
    </header>
    <div class="nav">
        <div class="list">
            <nav>
                <ul class="nav_ul">
                    <li class="nav_li_1" id="nav_li_1">售票状况</li>
                    <li class="nav_li_2" id="nav_li_2">用户查询</li>
                    <li class="nav_li_3" id="nav_li_3">售票价格</li>
                    <li class="nav_li_4" id="nav_li_4">车站公告</li>
                    <li class="nav_li_5" id="nav_li_5">增加车次</li>
                </ul>
            </nav>
            <div class="user">
                <span class="user_d">欢迎你，<a href="login.html" target="_self"><%- user.username %></a></span>
                <span class="user_d"><a href="/" target="_self">退出</a></span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content">
        <div class="adminpage personal">
            <div class="right_con" style="width: 1000px">
                <div class="li_3 margin_b">
                    <div class="right_title">
                        <p>
                            售票价格修改
                        </p>
                    </div>
                    <div class="ticke_price">
                        <%- message %>
                        <form class="admin_change_form" style="height: 300px;">
                            <div style="height: 280px;margin: 10px auto">
                                <div style="padding: 10px 0;width: 350px;margin: 0 auto;"><span style="float: left">发车日期：</span><input class="ticketDay ticket_num_input" type="date"  id="ticketDay" name="ticketDay" /></div>
                                <div style="padding: 10px 0;width: 350px;margin: 0 auto;"><span style="float: left">发车时间：</span><input id="ticketTime" name="ticketTime" class="easyui-timespinner ticket_num_input" value="6:00" style="width:250px;height: 30px" required="required" data-options="min:'06:00',showSeconds:true"></div>
                                <div style="padding: 10px 0;width: 350px;margin: 0 auto;"><span style="float: left">出发校区：</span>
                                    <select id="originplace" name="originplace">
                                        <option>明水校区</option>
                                        <option>圣井校区</option>
                                        <option>燕山校区</option>
                                        <option>舜耕校区</option>
                                    </select>
                                </div>
                                <div style="padding: 10px 0;width: 350px;margin: 0 auto;"><span style="float: left">目的校区：</span>
                                    <select id="destination" name="destination">
                                        <option>明水校区</option>
                                        <option>圣井校区</option>
                                        <option>燕山校区</option>
                                        <option>舜耕校区</option>
                                    </select>
                                </div>
                                <div style="padding: 10px 0;width: 350px;margin: 0 auto;"><span style="float: left">售票价格：</span><input class="ticket_num_input" type="number" value="10" id="ticketprice" name="ticketprice" /></div>
                            </div>
                        </form>
                        <div class="admin_change_btn"><a href="javascript:;" class="btn" id="change_btn">确认修改</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="img_weibo">
                <img src="/images/weibo.jpg" class="weibo" />
                <p>官方微博</p>
            </div>
            <div class="footer_center">
                <img src="/images/blue.png" class="blue" />
                <div class="word">
                    <p><a href="http://www3.sdufe.edu.cn/nic/list.php?id=3104">常见网络问题解答</a></p>
                    <p>管理员信箱：info@sdufe.edu.cn</p>
                    <p>版权所有©山东财经大学</p>
                    <p><a href="http://seo.wzmulu.com/icp/%E9%B2%81ICP%E5%A4%8705001933%E5%8F%B7">鲁ICP备05001933号-2</a></p>
                </div>
            </div>
            <div class="img_weixin">
                <img src="/images/weixin.jpg" class="weixin" />
                <p>官方微信</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </footer>
</div>
<script type="text/javascript">
    $(function(){
        $("#logo_btn").click(function(){
            location.href = '/'
        });
        $("#nav_li_1").click(function(){
            location.href = 'admin'
        });
        $("#nav_li_2").click(function(){
            location.href = 'admin1'
        });
        $("#nav_li_4").click(function(){
            location.href = 'admin3'
        });
        $("#nav_li_5").click(function(){
            location.href = 'admin4'
        })
    });
    $(function () {
        $("#change_btn").click(function(){
            var ticketDay = $("#ticketDay").val();
            var ticketTime = $("#ticketTime").val();
            var originplace = $("#originplace").val();
            var destination = $("#destination").val();
            var ticketprice = $("#ticketprice").val();
            var data = {
                "ticketDay":ticketDay,
                "ticketTime":ticketTime,
                "originplace":originplace,
                "destination":destination,
                "ticketprice":ticketprice
            };
            $.ajax({
                url:'/users/change/price',
                type:'post',
                data:data,
                success: function(data,status){
                    if(status == 'success'){
                        location.href = 'admin2';
                    }
                },
                error: function(data,error){
                    location.href = '/';
                }
            })
        });
    })
</script>
</body>
</html>