<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/graduationDesign.css" />
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <header>
        <div class="logo login_logo">
            <a href="javascript:;" id="logo_btn"><img src="/images/logo.png"></a>
        </div>
    </header>
    <div class="nav">
        <div class="list">
            <nav>
                <ul class="nav_ul">
                    <li id="li_hp">首页</li>
                    <li id="li_booking">订票</li>
                    <li id="li_personal">个人中心</li>
                </ul>
            </nav>
            <div class="user">
                <span class="user_d">欢迎你，<a href="javascript:;" class="go_login_btn" target="_blank" name="username" id="username"><%- user.username %></a></span>
                <span class="user_d"><a href="/" class="go_logout" target="_self">退出</a></span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content">
        <div class="personal">
            <div class="left_nav">
                <div class="left_nav_con">
                    <p class="nav_title">我的订单</p>
                    <ul class="left_nav_ul">
                        <li class="nav_li_3" id="nav_li_3">基本信息</li>
                        <li class="nav_li_2" id="nav_li_2" style="color: #00438a">我的订单</li>
                    </ul>
                    <p class="nav_title">基本信息</p>
                    <ul class="left_nav_ul">
                        <li class="nav_li_1" id="nav_li_1">信息更新</li>
                        <li class="nav_li_4" id="nav_li_4">修改密码</li>
                    </ul>
                </div>
            </div>
            <div class="right_con">
                <div class="li_1 con_select margin_b">
                    <div class="right_title">
                        <p>
                            <a href="#">个人中心</a>>我的订单
                        </p>
                    </div>
                    <div class="order_con">
                        <table>
                            <thead>
                            <tr>
                                <td>姓名</td>
                                <td>出发日期</td>
                                <td>出发时间</td>
                                <td>出发校区</td>
                                <td>目的校区</td>
                                <td>票数</td>
                                <td>价格</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <% function person(person) { %>
                            <tr class="<%= person._id %>">
                                <td><%= person.ticketTime %></td>
                                <td><%= person.ticketDay %></td>
                                <td><%= person.username %></td>
                                <td><%= person.originplace %></td>
                                <td><%= person.destination %></td>
                                <td><%= person.userticketnum %>张</td>
                                <td><%= person.price %>元</td>
                                <td>
                                    <a href="javascript:;" class="btn" id="t_btn" name="<%= person._id %>">退票</a>
                                </td>
                            </tr>
                            <% } %>
                            <% persons.map(person) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="img_weibo">
                <img src="/images/weibo.jpg" class="weibo" />
                <p>官方微博</p>
            </div>
            <div class="footer_center">
                <img src="/images/blue.png" class="blue" />
                <div class="word">
                    <p><a href="http://www3.sdufe.edu.cn/nic/list.php?id=3104">常见网络问题解答</a></p>
                    <p>管理员信箱：info@sdufe.edu.cn</p>
                    <p>版权所有©山东财经大学</p>
                    <p><a href="http://seo.wzmulu.com/icp/%E9%B2%81ICP%E5%A4%8705001933%E5%8F%B7">鲁ICP备05001933号-2</a></p>
                </div>
            </div>
            <div class="img_weixin">
                <img src="/images/weixin.jpg" class="weixin" />
                <p>官方微信</p>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript">
    $(function(){
        $("#li_hp").click(function(){
            location.href = 'home'
        });
        $("#logo_btn").click(function(){
            location.href = '/'
        });
    });
    $(function(){
        $("#li_personal").click(function(){
            var username = $("#username").text();
            var data = {"username":username};
            $.ajax({
                url:'/users/ppersonal',
                type:'post',
                data: data,
                success: function(data,status){
                    if(status == 'success'){
                        location.href = 'personal';
                    }
                },
                error: function(data,status){
                    if(status == 'error'){
                        location.href = '/';
                    }
                }
            })
        })
    });
    $(function () {
        $("#nav_li_1").click(function(){
            location.href = 'personal1';
        })
    });
    $(function () {
        $("#nav_li_3").click(function(){
            var username = $("#username").text();
            var data = {"username":username};
            $.ajax({
                url:'/users/ppersonal',
                type:'post',
                data: data,
                success: function(data,status){
                    if(status == 'success'){
                        location.href = 'personal';
                    }
                },
                error: function(data,status){
                    if(status == 'error'){
                        location.href = '/';
                    }
                }
            })
        })
    });
    $(function () {
        $("#nav_li_4").click(function(){
            location.href = 'personal3'
        })
    })
    $(function(){
        $(".btn").on("click",function(){
            if (confirm("是否决定退票")){
                var cap = $(this).attr("name");
                $(this).parent().parent().each(function(){
                    var capul = $(this).attr("class");
                    if(cap == capul) {
                        var userId = cap;
                        var username = $("#username").text();
                        var price = $(this).children().eq(6).text();
                        var data = {
                            "userId"    :userId,
                            "username"  :username,
                            "price"     :price
                        };
                        $.ajax({
                            url:'/users/return/userticket',
                            type:'post',
                            data: data,
                            success: function(data,status){
                                if(status == 'success'){
                                    location.href = 'returnticket';
                                }
                            },
                            error: function(data,status){
                                if(status == 'error'){
                                    location.href = '/';
                                }
                            }
                        });
                    }
                });
            } else{
            }
        })
    });
</script>
</body>
</html>