/* line 1, ../sass/homepage.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 29, ../sass/homepage.scss */
.btn {
  background: #ffca39;
  color: #fff;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  position: relative;
  margin-right: 9px;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -webkit-box-shadow: 0 3px 0 #b0d8ea;
  -o-box-shadow: 0 3px 0 #b0d8ea;
  -ms-box-shadow: 0 3px 0 #b0d8ea;
  -moz-box-shadow: 0 3px 0 #b0d8ea;
  font-family: microsoft yahei;
}

/* line 44, ../sass/homepage.scss */
.alert {
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}

/* line 52, ../sass/homepage.scss */
a {
  text-decoration: none;
}

/* line 55, ../sass/homepage.scss */
li, ul, ol {
  list-style: none;
}

/* line 58, ../sass/homepage.scss */
*::before, *::after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 61, ../sass/homepage.scss */
.clearfix {
  *zoom: 1;
}

/* line 64, ../sass/homepage.scss */
html {
  height: 100%;
}

/* line 67, ../sass/homepage.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

/* line 73, ../sass/homepage.scss */
.clear {
  clear: both;
}

/* line 76, ../sass/homepage.scss */
.clearf::after {
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

/* line 83, ../sass/homepage.scss */
.hidden {
  display: none;
}

/* line 86, ../sass/homepage.scss */
.opacity {
  opacity: 0;
}

/* line 89, ../sass/homepage.scss */
.li_color {
  color: #0062c9;
}

/* line 92, ../sass/homepage.scss */
.container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 97, ../sass/homepage.scss */
.container header {
  height: 90px;
  width: 1200px;
  margin: 0 auto;
  background: inherit;
}
/* line 102, ../sass/homepage.scss */
.container header .logo {
  width: 100%;
  height: 90px;
}
/* line 105, ../sass/homepage.scss */
.container header .logo img {
  padding-left: 300px;
  vertical-align: bottom;
}
/* line 111, ../sass/homepage.scss */
.container .nav {
  width: 1000px;
  margin: 0 auto;
  height: 50px;
  font-size: 24px;
  clear: both;
  background: #00549f;
  color: #fff;
}
/* line 119, ../sass/homepage.scss */
.container .nav .list {
  width: 900px;
  padding-left: 15px;
}
/* line 122, ../sass/homepage.scss */
.container .nav .list .nav_ul {
  zoom: 1;
}
/* line 124, ../sass/homepage.scss */
.container .nav .list .nav_ul li {
  padding-right: 10px;
  line-height: 50px;
  width: 120px;
  float: left;
  font-size: 24px;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}
/* line 134, ../sass/homepage.scss */
.container .nav .list .nav_ul li:hover {
  color: #0089f3;
  background: #fff;
  border-top: 2px #c72b2b solid;
}
/* line 140, ../sass/homepage.scss */
.container .nav .list .user {
  float: right;
  vertical-align: middle;
}
/* line 143, ../sass/homepage.scss */
.container .nav .list .user .user_d {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
/* line 150, ../sass/homepage.scss */
.container .nav .list .user .user_d a:visited {
  color: #fff;
  line-height: 20px;
  font-size: 20px;
}
/* line 155, ../sass/homepage.scss */
.container .nav .list .user .user_d a:link {
  color: #fff;
  line-height: 20px;
  font-size: 20px;
}
/* line 161, ../sass/homepage.scss */
.container .nav .list .user .user_d:hover {
  background: #003366;
  cursor: pointer;
  color: #fff;
}

/* line 170, ../sass/homepage.scss */
.con_bg {
  width: 1000px;
  height: 366px;
  margin: 0 auto;
  background: #99bfd1;
}
/* line 175, ../sass/homepage.scss */
.con_bg .con_1::before, .con_bg .con_1::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 180, ../sass/homepage.scss */
.con_bg .con_1 {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 184, ../sass/homepage.scss */
.con_bg .con_1 .reserve {
  width: 33%;
  float: left;
  border-bottom: 1px #8fb4c6 solid;
}
/* line 188, ../sass/homepage.scss */
.con_bg .con_1 .reserve .con_title {
  background: #0066cc;
  -webkit-border-radius: 9px 9px 0 0;
  -o-border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -ms-border-radius: 9px 9px 0 0;
}
/* line 191, ../sass/homepage.scss */
.con_bg .con_1 .reserve .con_title p {
  font-size: 32px;
  text-align: center;
  padding: 8px 0;
  color: #fff;
}
/* line 199, ../sass/homepage.scss */
.con_bg .con_1 .announcement {
  width: 580px;
  height: 290px;
  background: #b0d8ea;
  float: left;
  margin-left: 20px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
}
/* line 206, ../sass/homepage.scss */
.con_bg .con_1 .announcement .p_title {
  height: 54px;
  background: #0066cc;
  -webkit-border-radius: 9px 9px 0 0;
  -o-border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -ms-border-radius: 9px 9px 0 0;
}
/* line 210, ../sass/homepage.scss */
.con_bg .con_1 .announcement .p_title p {
  color: #fff;
  line-height: 24px;
  font-size: 24px;
  font-family: microsoft yahei;
  text-align: center;
  padding: 15px 0;
}
/* line 219, ../sass/homepage.scss */
.con_bg .con_1 .announcement .p_con {
  width: 500px;
  margin: 0 auto;
}
/* line 222, ../sass/homepage.scss */
.con_bg .con_1 .announcement .p_con textarea {
  padding-top: 20px;
  font-size: 16px;
  font-family: microsoft yahei;
  text-indent: 2em;
}

/* line 232, ../sass/homepage.scss */
form {
  padding: 20px 10px;
  -webkit-border-radius: 0 0 9px 9px;
  -o-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -ms-border-radius: 0 0 9px 9px;
  background: #b0d8ea;
}
/* line 236, ../sass/homepage.scss */
form .form_1 {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
}
/* line 242, ../sass/homepage.scss */
form .form_1 span {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}
/* line 247, ../sass/homepage.scss */
form .form_1 input {
  width: 200px;
  font-weight: 100;
  font-size: 20px;
  line-height: 20px;
  font-family: microsoft yahei;
  display: inline-block;
  vertical-align: middle;
  color: #6e76ff;
  cursor: pointer;
  border: 0;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  text-align: center;
}
/* line 261, ../sass/homepage.scss */
form .form_1 .campus {
  position: absolute;
  top: 10px;
  left: 118px;
  width: 200px;
  font-size: 20px;
  background: #fff;
  line-height: 20px;
  font-family: "microsoft yahei";
  color: #6e76ff;
  z-index: 999;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
}
/* line 273, ../sass/homepage.scss */
form .form_1 .campus li {
  padding: 8px 0;
  text-align: center;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  cursor: pointer;
}
/* line 279, ../sass/homepage.scss */
form .form_1 .campus li:hover {
  color: #fff;
  background: #6e76ff;
}
/* line 285, ../sass/homepage.scss */
form .form_btn {
  width: 100%;
  height: 50px;
  text-align: center;
}
/* line 289, ../sass/homepage.scss */
form .form_btn .check_btn {
  width: 150px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  font-weight: 700;
  background: #ffca39;
  -webkit-border-radius: 19px;
  -o-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  border: 0;
  -webkit-box-shadow: 0 0 0 #000;
  -o-box-shadow: 0 0 0 #000;
  -ms-box-shadow: 0 0 0 #000;
  -moz-box-shadow: 0 0 0 #000;
}

/* line 302, ../sass/homepage.scss */
.con_2 {
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 306, ../sass/homepage.scss */
.con_2 .booking_title {
  background: #0066cc;
  width: 100%;
  -webkit-border-radius: 9px 9px 0 0;
  -o-border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -ms-border-radius: 9px 9px 0 0;
}
/* line 310, ../sass/homepage.scss */
.con_2 .booking_title p {
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  padding: 16px 0;
}
/* line 318, ../sass/homepage.scss */
.con_2 .booking {
  background: #b0d8ea;
  -webkit-border-radius: 0 0 9px 9px;
  -o-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -ms-border-radius: 0 0 9px 9px;
  padding: 20px 80px;
}

/* line 324, ../sass/homepage.scss */
.con_3 {
  width: 630px;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 328, ../sass/homepage.scss */
.con_3 .return_title {
  padding: 16px 0;
  background: #0066cc;
  color: #ffffff;
  text-align: center;
  font-family: "microsoft yahei";
  -webkit-border-radius: 9px 9px 0 0;
  -o-border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -ms-border-radius: 9px 9px 0 0;
}
/* line 335, ../sass/homepage.scss */
.con_3 .return_title p {
  line-height: 20px;
  font-size: 20px;
}

/* line 342, ../sass/homepage.scss */
.con_select .order_select {
  height: 40px;
  background: #ffffff;
  line-height: 30px;
  padding-left: 15px;
}
/* line 347, ../sass/homepage.scss */
.con_select .order_select select {
  display: inline-block;
  height: 30px;
  font-size: 16px;
}
/* line 351, ../sass/homepage.scss */
.con_select .order_select select option {
  font-size: 16px;
}
/* line 355, ../sass/homepage.scss */
.con_select .order_select .order_title {
  width: 200px;
}
/* line 358, ../sass/homepage.scss */
.con_select .order_select .order_use {
  width: 150px;
}
/* line 362, ../sass/homepage.scss */
.con_select .order_con {
  padding: 15px;
  background: #ffffff;
  -webkit-border-radius: 0 0 9px 9px;
  -o-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -ms-border-radius: 0 0 9px 9px;
}

/* line 368, ../sass/homepage.scss */
table {
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}
/* line 380, ../sass/homepage.scss */
table td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
/* line 386, ../sass/homepage.scss */
table td a {
  width: 80px;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 0;
  background: #ffca39;
  -webkit-border-radius: 9px 9px 9px 9px;
  -o-border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -ms-border-radius: 9px 9px 9px 9px;
}

/* line 396, ../sass/homepage.scss */
.picture {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}
/* line 402, ../sass/homepage.scss */
.picture ul {
  zoom: 1;
}
/* line 404, ../sass/homepage.scss */
.picture ul li {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 408, ../sass/homepage.scss */
.picture ul li img {
  width: 1000px;
  height: 300px;
}

/* line 415, ../sass/homepage.scss */
footer {
  width: 1000px;
  height: 110px;
  margin: 0 auto;
  background: #0056a3;
  position: absolute;
  bottom: 0px;
  left: 174.5px;
}
/* line 423, ../sass/homepage.scss */
footer p {
  font-size: 10px;
  color: #ffffff;
}
/* line 427, ../sass/homepage.scss */
footer a {
  text-decoration: none;
  text-decoration-color: #ffffff;
}
/* line 431, ../sass/homepage.scss */
footer a:link {
  color: #ffffff;
}
/* line 434, ../sass/homepage.scss */
footer a:visited {
  color: #ffffff;
}
/* line 437, ../sass/homepage.scss */
footer a:hover {
  color: #ffffff;
}
/* line 440, ../sass/homepage.scss */
footer .footer {
  width: 880px;
  margin: 0 auto;
}
/* line 443, ../sass/homepage.scss */
footer .footer .img_weibo {
  display: inline-block;
  width: 80px;
  float: left;
  margin-top: 5px;
}
/* line 450, ../sass/homepage.scss */
footer .footer .img_weibo p {
  text-align: center;
  clear: both;
}
/* line 455, ../sass/homepage.scss */
footer .footer .img_weixin {
  display: inline-block;
  width: 80px;
  float: right;
  margin-top: 5px;
}
/* line 462, ../sass/homepage.scss */
footer .footer .img_weixin p {
  text-align: center;
  clear: both;
}
/* line 467, ../sass/homepage.scss */
footer .footer .footer_center {
  width: 300px;
  margin: 10px auto;
  display: inline-block;
  padding-left: 190px;
}
/* line 472, ../sass/homepage.scss */
footer .footer .footer_center .blue {
  display: inline-block;
  margin-top: 5px;
  vertical-align: middle;
}
/* line 477, ../sass/homepage.scss */
footer .footer .footer_center .word {
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}
