/* line 1, ../sass/login.scss */
.login_logo {
  border-bottom: 1px #c9c9c9 solid;
}

/* line 4, ../sass/login.scss */
.content {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 120px;
}
/* line 9, ../sass/login.scss */
.content .xiaohui {
  width: 400px;
  text-align: center;
  float: left;
}
/* line 13, ../sass/login.scss */
.content .xiaohui p {
  color: #004e98;
  font-size: 24px;
}
/* line 18, ../sass/login.scss */
.content .login_form {
  width: 400px;
  background: #f1f1f1;
  float: right;
  margin-top: 20px;
}
/* line 23, ../sass/login.scss */
.content .login_form form {
  width: 320px;
  margin: 0 auto;
}
/* line 26, ../sass/login.scss */
.content .login_form form .form_title {
  line-height: 24px;
  font-size: 24px;
  font-family: "microsoft yahei";
  color: #00549f;
}
/* line 32, ../sass/login.scss */
.content .login_form form .form_zhu {
  padding: 20px 0;
  line-height: 12px;
  font-size: 12px;
  color: red;
}
/* line 38, ../sass/login.scss */
.content .login_form form input {
  width: 250px;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  color: #3e3e3e;
  font-family: "microsoft yahei";
}
/* line 46, ../sass/login.scss */
.content .login_form form .forget {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 12px;
}
/* line 50, ../sass/login.scss */
.content .login_form form .forget a:link {
  color: #000;
}
/* line 53, ../sass/login.scss */
.content .login_form form .forget a:hover {
  color: red;
}
/* line 57, ../sass/login.scss */
.content .login_form form .form_btn {
  width: 100%;
  text-align: center;
  border-bottom: 1px #c9c9c9 dashed;
}
/* line 61, ../sass/login.scss */
.content .login_form form .form_btn .login_btn {
  text-align: center;
  width: 300px;
  height: 30px;
  margin: auto;
  font-size: 20px;
  line-height: 20px;
}
/* line 70, ../sass/login.scss */
.content .login_form form .form_foot {
  text-align: center;
  margin: 20px auto;
}
